.advantages {
    margin: 0 auto;
}

.advantages-img {
    display: block;
    width: auto;
    max-height: 100px;
    margin: 0 auto;
}

.advantages-title {
    max-width: 120px;
    margin: 20px 0;
    font-size: 14px;
    text-align: center;
    color: $title-blue;
}