.courses {
    padding: $xl-size 0 0;
}

.courses__background {
    background: $bg-img-courses no-repeat center center;
    width: 100%;
    height: 500px;  
    background-attachment: fixed;
    background-size: cover;  
}

.courses__background-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 30%;

}

.home__background-text {
    color: $text-color;
    font-size: $xxl-font-size;
    text-align: center;
    text-transform: uppercase;
}

.courses-title {
    color: $bright-blue;
    text-align: center;
    font-weight: 400;
    font-size: $l-size;
    line-height: 1.2;
    text-transform: uppercase;
    position: relative;
    top: 50%;
    margin-bottom: $m-size;
}

.slider {
    max-width: $max-width;
    margin: 0 auto;
}

.slider-control-centerleft,
.slider-control-centerright {
    display: none;
}

.slider-control-bottomcenter > ul > li > button {
    outline: none;
    font-size: 40px;
}

.crs-pg {
    background: $crs-bg-img-offer no-repeat center;
    background-size: cover;
    
}