.footer {
    display: flex;
    justify-content: space-around;
    height: 100px;
    background-color: $title-blue;
    margin-top: $xxl-size;
    color: white;
    align-items: center;
}

.footer__sc {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer__sc-icon {
    margin-right: $m-size;
    width: $l-size;
}