.offer-button {
    width: 120px;
    height: 40px;
    border: 1px solid $title-blue;
    color: white;
    text-transform: uppercase;
    background: $title-blue;
    border-radius: 6px;
    text-align: center;
    align-items: center;
    padding-top: 12px;
    cursor: pointer;
}