@media screen and (max-width: 540px) {

    //HOME
        .nav-menu {
            padding-top: 0;
        }
    
        .home {
            max-width: 540px;
        }
    
        .home__background,
        .offer-background,
        .courses__background {
            height: 200px;
            background-attachment: inherit;
        }
    
        .home__about,
        .home__text {
            margin: 20px;
        }
    
        .ac-title,
        .home__background-text,
        .offer-background > span:first-child {
            font-size: $l-font-size;
        }
    
    
        .advantages {
            margin-bottom: 40px;
        }
        .advantages-title,
        .contacts-info {
            display: block;
            margin: 20px auto;
        }
        .home__icons,
        .home__text,
        .trainer-container {
            display: block;
        }
    
        .advantages-img {
            max-height: 80px;
        }
    
        .offer-background > span {
            max-width: 140px;
            font-size: $s-font-size;
        }
    
    // FOOTER
        .footer {
            margin-top: $xl-size;
            padding: 0 20px;
        }
    
        .footer__title,
        .footer__phone {
            max-width: 100px;
            font-size: 12px;
        }
    
        .footer__sc-icon{
            width:$xl-font-size;
        }
    
    //COURSES
        .home__background-title {
            font-size: $xxl-font-size;
        }
    
        .courses__background-text {
            top: 20%;
        }

        .home__background-text {
            max-width: 250px;
            display: block;
            margin: 0 auto;
        }
    
        .courses-title{
            font-size: $xl-font-size;
        }
    
        .trainer-img {
            margin: 20px auto;
        }
    
        // .carousel{
        //     height: 200px;
        // }
        .slick-slide img {
            display: block;
            margin: 0 auto;
            max-width: 400px;
            height: auto;
        }
    
    //CONTACTS
        .card {
            display: flex;
            justify-content: center;
        }
    
    }

    @media screen and (min-width: 541px) and (max-width: 1000px) {
        .home__background,
        .offer-background,
        .courses__background {
            height: 400px;
            background-attachment: inherit;
        }
    
        .home__about-article {
            display: block;
            margin: 30px;
        }
        
        .carousel {
            display: block;
            margin: 0 auto;
        }
    
        .trainer-img {
            margin: 20px auto;
        }
    
    }

    @media screen and (min-width: 1500px) and (max-width: 2000px) {
        header {
            height: 8rem;
        }

        .nav-logo {
            width: 7rem;
            margin-left: 20px;
        }

        .nav-menu {
            margin-right: 20px;
        }

        .nav-link {
            font-size: 16px;
            margin-right: .6rem;
        }
        
        .home__background {
            height: 70;
            background-attachment: inherit; 
            background-size: cover;
        }

        .home__about,
        .carousel {
            max-width: 1300px;
        }

        .ac-title,
        .courses-title {
            font-size: 2.0rem;
        }

        .home__about-article,
        .home__text-article {
            font-size: $xl-font-size;
        }

        .home__icons {
            max-width: 1300px;
        }

        .advantages-img {
            max-height: 130px;
        }

        .advantages-title {
            max-width: 150px;
            margin: 20px 40px;
        }

        .offer-background {
            padding-left: 60px;
        }

        .offer-background>span:first-child {
            font-size: 18px;
        }

        .offer-background>span:last-child {
            font-size: 14px;
        }

        .offer-button {
            width: 150px;
            height: 50px;
            font-size: 16px;
            padding-top: 15px;
        }

        .home__text {
            max-width: 1300px;
        }
        .footer__title,
        .footer__phone {
            font-size: 16px;
        }

        .footer__sc-icon {
            width: 2rem;
        }

        .trainer-container {
            max-width: 1300px;
        }
    }