// Colors
$menu-black: #151515;
$title-blue: #4c5f80;
$title-purpur: #f7bc8e;
$bright-blue: #303f9f;
$text-color: #666;

//Spasing
$s-size: 0.4rem;
$m-size: 0.8rem;
$l-size: 1.6rem;
$xl-size: 2.4rem;
$xxl-size: 5.0rem;
$xxxl-size: 8.0rem;
$max-width: 60rem;

//Font Size
$s-font-size: 0.6rem;
$m-font-size: 0.875rem;
$l-font-size: 1.0rem;
$xl-font-size: 1.25rem;
$xxl-font-size: 1.5rem;
$xxxl-font-size: 2.75rem;

//Images
$bg-img: url('../img/main-bg-1.jpg');
// $bg-img: url('../img/test_7.jpg');

$crs-bg-img-offer: url('../img/offer_bg_3.jpg');
// $crs-bg-img-offer: url('/img/offer_bg_3.jpg');
$bg-img-offer: url('../img/offer_bg_2.jpg');
$bg-img-courses: url('../img/test6_1.jpg');
